.App {
  text-align: center;
  background-color: #282c34;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blink {
  animation: blinking infinite 1.5s linear;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.title {
  height: 10vh;
  line-height: 15vh;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy, monospace, cursive;
  color: #fff;
}

.App-header {
  position: relative;
  background-color: #282c34;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 40px 0 20px;
}
.dot {
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #282c34;
  /*background-color: black;*/
}
.dot-inner {
  border-radius: 50%;
  position: relative;
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
}

.dot-curr .dot-inner {
  width: 20px;
  height: 20px;
  left: 3px;
  top: 3px;
}
.dot.dot-curr {
  width: 26px;
  height: 26px;
  border: 1px solid white;
}
.dot:hover {
  border: 1px solid white;
  z-index: 10;
}
.dot-curr:hover {
  border: 2px solid white;
  z-index: 10;
}
.recording-dot {
  width: 15px;
  height: 15px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.App-link {
  color: #61dafb;
}

.button-wrap {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.button-wrap button {
  height: 40px;
  border-radius: 4px;
  background-color: #282c34;
  color: #fff;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.submit {
  margin-left: 80px;
}
